@import "./fonts.css";
@import "./reset.css";

/*=================================| start topbar */

.topbar {
    margin: 1rem 0;
}

.header_wrapper {
    display: grid;
    grid-template-columns: 58px 635px  187px;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 54px;
}

.header_logo_img {
    width: 100%;
}


.menu {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.menu li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.menu_link {
    color: var(--color_7D7C7C);
    font-weight: 500;
}

.header_link {
    border: 1px solid var(--color_C90000);
    padding: 9px 16px;
    font-size: 16px;
    border-radius: 100px;
}

.header_link_sign {
    color: var(--color_C90000);
    font-weight: 400;
}

.header_link_login {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

.toggle_burger_menu {
    display: none;
}

.toggle_close_menu {
    display: none;
    width: 30px;
    height: 30px;
    color: var(--color_7D7C7C);
}

.nav_menu_sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--color_C90000);
    left: -256px;
    width: 256px;
    height: 100vh;
    transition: all 0.2s ease-in-out;
    z-index: 15;
}

.nav_item_sidebar {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.nav_link_sidebar {
    color: var(--color_fff);
    padding: 2rem;
}

/*======================================|start header content*/

.header_content_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.header_content_left {
    max-width: 379.92px;
    margin: 0 1rem;
}

.header_title {
    max-width: 343px;
    line-height: 1.5;
    margin-top: 6rem;
}

.header_text {
    color: var(--color_C90000);
    font-family: "poppins-semibold", serif;
    font-weight: 600;
    font-size: 47px;
}

.header_caption {
    font-family: poppins-regular, serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color_504F4F);
}

.header_total {
    max-width: 369px;
}

.header_total_price {
    display: flex;
    align-items: center;
}

.total_title {
    font-family: "poppins-light-300", serif;
    font-size: 16px;
    color: var(--color_504F4F);
    margin-right: 5px;

}

.total_price {
    font-size: 24px;
    color: var(--color_323232);
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    box-shadow: 0 10px 17px 0 rgba(112, 144, 176, 0.2);
    border-radius: 100px;
    max-width: 140px;
    max-height: 46px;
    padding: 0 18px;
}


.count_btn {
    font-size: 30px;
    top: 12px;
    left: 5px;
    opacity: 1;
    border: none;
    color: var(--color_7D7C7C);
    background-color: transparent;
    cursor: pointer;
}

.number {
    font-family: "poppins-medium-500", serif;
    font-size: 20px;
    color: var(--color_FFC300);
}

.number::after,
.number::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--color_F1F1F1);
    margin: 0 5px;
}

.decrease {
    font-size: 40px;
    padding-bottom: 9px;
}

.order_btn {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "poppins-medium-500", serif;
    font-size: 18px;
    width: 189px;
    height: 62px;
    padding: 16px 24px 16px 24px;
    border-radius: 100px;
    background-color: var(--color_FFC300);
    color: var(--color_323232);
    border: none;
    cursor: pointer;
}

.header_content_right {
    position: relative;
}

.time_img {
    position: absolute;
    top: 68px;
    left: -90px;
}

.burger_img {
    width: 100%;
}

.header_total_mobile {
    display: none;
}

.t-img {
    display: none;
}

/*=================================|*/
.menu_list_items {
    margin-top: 3rem;
}

.menu_list_title {
    position: relative;
    font-family: "poppins-semibold", serif;
    font-weight: 600;
    font-size: 48px;
    color: var(--color_C90000);
}

.menu_list_line {
    width: 137px;
    height: 9px;
    background-color: var(--color_FFF6A3);
    margin-top: -18px;
    margin-left: -1px;
}

.button_category {
    display: grid;
    grid-auto-columns: 178px;
    grid-auto-flow: column;
    overflow-x: auto;
    column-gap: 20px;
    margin-top: 32px;
    margin-bottom: 4rem;
}

.button_category button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    padding: 14px 20px;
    column-gap: 8px;
    border-radius: 100px;
    cursor: pointer;
}

.button_active_category {
    background-color: var(--color_FFC300) !important;
    color: var(--color_323232) !important;
    font-weight: 600 !important;
}

.row_grid_food_products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    justify-content: center;
    gap: 8px;
    height: 363px;
}

.item_food_grid {
    border: 1px solid var(--color_E3E3E3);
    border-radius: 12px;
    padding: 16px;
    position: relative;
}
.badge_discount {
    position: absolute;
}
.img_item_food_grid {
    width: 338px;
    text-align: center;
}

.item_food_grid > img {
    width: 100%;
}

.img_item_food_grid > div {
    margin-top: -105px;
    background-color: #FFFDE6;
    /*background-color: red;*/
    max-width: 338px;
    height: 105px;
    opacity: 1;
    border-radius: 8px;
}

.info_item_food_grid {
    margin-top: 1rem;
}

.info_item_food_grid h5 {
    font-family: "poppins-semibold", serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--color_323232);
    margin: 0;
}

.info_item_food_grid p {
    font-family: "poppins-regular", serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color_504F4F);
}

.score_item_food_grid {
    display: flex;
    align-items: center;
}

.score_item_food_grid span {
    font-family: "poppins-medium-500", serif;
    font-size: 14px;
    margin-top: 5px;
}

.bottom_item_food_grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.bottom_item_food_grid span {
    font-family: "poppinssemibold", serif;
    font-weight: 600;
    font-size: 24px;
}

.bottom_item_food_grid > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    gap: 5px;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--color_C90000);
    border-color: transparent;
}

.bottom_item_food_grid svg {
    width: 24px;
    color: var(--color_F1F1F1);
}