@import "./fonts.css";
@import "./reset.css";

/*=================================| start topbar */

.topbar {
    margin: 1rem 0;
}

.header_wrapper {
    display: grid;
    grid-template-columns: 58px 635px  187px;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 54px;
}

.header_logo_img {
    width: 100%;
}


.menu {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.menu li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.menu_link {
    color: var(--color_7D7C7C);
    font-weight: 500;
}

.header_link {
    border: 1px solid var(--color_C90000);
    padding: 9px 16px;
    font-size: 16px;
    border-radius: 100px;
}

.header_link_sign {
    color: var(--color_C90000);
    font-weight: 400;
}

.header_link_login {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

.toggle_burger_menu {
    display: none;
}

.toggle_close_menu {
    display: none;
    width: 30px;
    height: 30px;
    color: var(--color_7D7C7C);
}

.nav_menu_sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--color_C90000);
    left: -256px;
    width: 256px;
    height: 100vh;
    transition:all 0.2s ease-in-out;
    z-index: 15;
}

.nav_item_sidebar {
    margin-bottom: 1rem;
    margin-top: 2rem;
}
.nav_link_sidebar {
    color: var(--color_fff);
    padding: 2rem;
}

