@import "./fonts.css";
@import "./reset.css";

/*=================================| start topbar */

.topbar {
    margin: 1rem 0;
}

.header_wrapper {
    display: grid;
    grid-template-columns: 58px 635px  187px;
    justify-content: space-between;
    align-items: center;
}

.header_logo {
    width: 54px;
}

.header_logo_img {
    width: 100%;
}


.menu {
    display: flex;
    align-items: center;
    gap: 2.5rem;
}

.menu li:first-child a {
    color: var(--color_C90000);
    font-weight: 600;
}

.menu_link {
    color: var(--color_7D7C7C);
    font-weight: 500;
}

.header_link {
    border: 1px solid var(--color_C90000);
    padding: 9px 16px;
    font-size: 16px;
    border-radius: 100px;
}

.header_link_sign {
    color: var(--color_C90000);
    font-weight: 400;
}

.header_link_login {
    background-color: var(--color_C90000);
    color: var(--color_fff);
    font-weight: 500;
}

.toggle_burger_menu {
    display: none;
}

.toggle_close_menu {
    display: none;
    width: 30px;
    height: 30px;
    color: var(--color_7D7C7C);
}

.nav_menu_sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: var(--color_C90000);
    left: -256px;
    width: 256px;
    height: 100vh;
    transition: all 0.2s ease-in-out;
    z-index: 15;
}

.nav_item_sidebar {
    margin-bottom: 1rem;
    margin-top: 2rem;
}

.nav_link_sidebar {
    color: var(--color_fff);
    padding: 2rem;
}

/*======================================|start header content*/

.header_content_wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: space-between;
    align-items: center;
}

.header_content_left {
    max-width: 379.92px;
    margin: 0 1rem;
}

.header_title {
    max-width: 343px;
    line-height: 1.5;
    margin-top: 6rem;
}

.header_text {
    color: var(--color_C90000);
    font-family: "poppins-semibold", serif;
    font-weight: 600;
    font-size: 47px;
}

.header_caption {
    font-family: poppins-regular, serif;
    font-weight: 400;
    font-size: 16px;
    color: var(--color_504F4F);
}

.header_total {
    max-width: 369px;
}

.header_total_price {
    display: flex;
    align-items: center;
}

.total_title {
    font-family: "poppins-light-300", serif;
    font-size: 16px;
    color: var(--color_504F4F);
    margin-right: 5px;

}

.total_price {
    font-size: 24px;
    color: var(--color_323232);
}

.order {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.count {
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    box-shadow: 0 10px 17px 0 rgba(112, 144, 176, 0.2);
    border-radius: 100px;
    max-width: 140px;
    max-height: 46px;
    padding: 0 18px;
}


.count_btn {
    font-size: 30px;
    top: 12px;
    left: 5px;
    opacity: 1;
    border: none;
    color: var(--color_7D7C7C);
    background-color: transparent;
    cursor: pointer;
}

.number {
    font-family: "poppins-medium-500", serif;
    font-size: 20px;
    color: var(--color_FFC300);
}

.number::after,
.number::before {
    content: "";
    display: inline-block;
    width: 2px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--color_F1F1F1);
    margin: 0 5px;
}

.decrease {
    font-size: 40px;
    padding-bottom: 9px;
}

.order_btn {
    display: flex;
    align-items: center;
    gap: 12px;
    font-family: "poppins-medium-500", serif;
    font-size: 18px;
    width: 189px;
    height: 62px;
    padding: 16px 24px 16px 24px;
    border-radius: 100px;
    background-color: var(--color_FFC300);
    color: var(--color_323232);
    border: none;
    cursor: pointer;
}

.header_content_right {
    position: relative;
}

.time_img {
    position: absolute;
    top: 68px;
    left: -90px;
}

.burger_img {
    width: 100%;
}

.header_total_mobile {
    display: none;
}

.t-img {
    display: none;
}

/*=================================|menu_list_items*/
.menu_list_items {
    margin-top: 3rem;
}

.menu_list_items_wrapper, .sale-off_header {
    display: inline-block;
    position: relative;
}

.menu_list_title, .sale-off_title {
    font-family: "poppins-semibold", serif;
    font-weight: 600;
    font-size: 48px;
    color: var(--color_C90000);
}

.menu_list_line, .sale-off_line {
    width: 100%;
    height: 9px;
    background-color: var(--color_FFF6A3);
    position: absolute;
    bottom: 9px;
    left: 0;
    z-index: -1;
}

.button_category {
    display: grid;
    grid-auto-columns: 178px;
    grid-auto-flow: column;
    overflow-x: auto;
    column-gap: 20px;
    margin-top: 32px;
    margin-bottom: 4rem;
}

.button_category button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    color: var(--color_504F4F);
    font-size: 16px;
    font-weight: 400;
    padding: 14px 20px;
    column-gap: 8px;
    border-radius: 100px;
    cursor: pointer;
}

.button_active_category {
    background-color: var(--color_FFC300) !important;
    color: var(--color_323232) !important;
    font-weight: 600 !important;
}

.row_grid_food_products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(370px, 1fr));
    justify-content: center;
    gap: 8px;
    overflow: hidden;
}

.item_food_grid {
    border: 1px solid var(--color_E3E3E3);
    border-radius: 12px;
    padding: 16px;
    position: relative;
}

.badge_discount {
    position: absolute;
}

.img_item_food_grid {
    width: 338px;
    text-align: center;
}

.item_food_grid > img {
    width: 100%;
}

.img_item_food_grid > div {
    margin-top: -105px;
    background-color: #FFFDE6;
    /*background-color: red;*/
    max-width: 338px;
    height: 105px;
    opacity: 1;
    border-radius: 8px;
}

.info_item_food_grid {
    margin-top: 1rem;
}

.info_item_food_grid h5 {
    font-family: "poppins-semibold", serif;
    font-weight: 600;
    font-size: 20px;
    color: var(--color_323232);
    margin: 0;
}

.info_item_food_grid p {
    font-family: "poppins-regular", serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--color_504F4F);
}

.score_item_food_grid {
    display: flex;
    align-items: center;
}

.score_item_food_grid span {
    font-family: "poppins-medium-500", serif;
    font-size: 14px;
    margin-top: 5px;
}

.bottom_item_food_grid {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1rem;
}

.bottom_item_food_grid span {
    font-family: "poppinssemibold", serif;
    font-weight: 600;
    font-size: 24px;
}

.bottom_item_food_grid > button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    gap: 5px;
    border-radius: 8px;
    padding: 5px;
    background-color: var(--color_C90000);
    border-color: transparent;
    cursor: pointer;
}

.bottom_item_food_grid svg {
    width: 24px;
    color: var(--color_F1F1F1);
}

.see-all {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.see {
    font-family: "poppins-medium-500", serif;
    font-size: 20px;
    text-decoration: underline;
    text-decoration-style: solid;
    color: var(--color_504F4F);
    text-align: center;
}

.sale-off_header {
    display: flex;
    margin: 3rem auto;
    width: max-content;
}

/*=========================|sale-off*/

.sale-off_wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    gap: 30px;
}

.sale-off_items {
    display: flex;
    height: 335px;
    border: 1px solid var(--color_E3E3E3);
    border-radius: 20px;
    background-color: var(--color_E3E3E3);
    padding: 40px 20px;
    overflow: hidden;
    position: relative;
}

.sale-off_items:hover {
    transition: all 0.2s ease;
    background-color: #D62822;
    scale: 1.1;
}

.sale-off_item {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.sale-off_titles {
    min-height: 120px;
}

.sale-off_titles span {
    font-family: "poppins-regular", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color_323232);
    position: relative;
    width: 100%;
    display: block;
}

.sale-off_items:hover .sale-off_titles span {
    color: #FFEAE6;
}

.sale-off_titles span:after {
    content: "";
    display: inline-block;
    width: 140%;
    height: 1px;
    background-color: var(--color_7D7C7C);
    position: absolute;
    left: 78px;
    top: 10px;
}

.sale-off_items:hover .sale-off_titles span:after {
    background-color: #F1F1F1;
}

.sale-off_titles h3 {
    font-family: "poppins-semibold", serif;
    font-weight: 600;
    font-size: 26px;
    color: var(--color_C90000);
    margin: 16px 0
}

.sale-off_items:hover .sale-off_titles h3 {
    color: var(--color_FFC300);
}

.sale-off_titles p {
    max-width: 156px;
    font-family: "poppins-regular", serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--color_504F4F);
    min-height: 48px;
}

.sale-off_titles p:empty::before {
    content: " ";
    display: block;
    height: 24px;
}

.sale-off_items:hover .sale-off_titles p {
    color: var(--color_F1F1F1);
}

.sale-off_price {
    display: flex;
    align-items: center;
    margin-top: auto;
    margin-bottom: 28px;
}

.sale-off_price del {
    color: var(--color_504F4F);
    font-family: poppins-semibold, serif;
    font-weight: 600;
    font-size: 16px;
    margin-right: 1rem;
}

.sale-off_items:hover .sale-off_price del {
    color: var(--color_F1F1F1);
}

.sale-off_price p {
    font-family: poppins-semibold, serif;
    font-weight: 600;
    font-size: 24px;
    color: var(--color_C90000);
    margin: 0;
}

.sale-off_items:hover .sale-off_price p {
    color: var(--color_FFC300);
}

.sale-off_order {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 40px;
    gap: 8px;
    opacity: 1;
    padding: 8px 12px 8px 12px;
    border-radius: 20px;
    background-color: var(--color_504F4F);
    border: none;
    margin-top: 0;
}

.sale-off_items:hover .sale-off_order {
    background-color: #FFFDE6;
}

.sale-off_items:hover .sale-off_order path {
    fill: var(--color_323232);
}

.sale-off_order span {
    margin: 0;
    font-family: "poppins-medium-500", serif;
    font-size: 15px;
}

.sale-off_items:hover .sale-off_order span {
    color: var(--color_323232);
}

.sale-off_image {
    position: relative;
    right: 79px;
    bottom: -78px;
    width: 27%;
}

.sale-off_image img {
    width: 220px;
}

/*========================================|mobile app*/

.section_mobile_app{
    display: grid;
    grid-template-columns: 35% 60%;
    justify-content: flex-end;
    border: 1px solid var(--color_E3E3E3);
    background-color: var(--color_F1F1F1);
    border-radius: 0 500px 500px 0;
    max-width: 90%;
    margin-top: 10rem;
}
.img_section_mobile_app img{
    max-width: 400px;
    height: 100%;
    object-fit: cover;
    transform: scale(1.2);
    position: relative;
    top: -25px;
}
.content_section_mobile_app{
    padding: 2rem;
    justify-self: center;
    align-self: center;
}
.content_section_mobile_app h6{
    color: var(--color_7D7C7C);
    font-size: 20px;
    font-weight: 500;
}
.content_section_mobile_app h4{
    color: var(--color_C90000);
    font-size: 48px;
    font-weight: 500;
    margin: 1rem 0;
}
.content_section_mobile_app p{
    color: var(--color_323232);
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    max-width: 77%;
}
.download_btn_app a{
    margin-top: 32px;
    width: 14%;
    display: inline-block;
}
.download_btn_app a:last-child{
    margin-left: 7rem;
}
/*=========================================|content_search_location*/

.content_search_location{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color_323232);
    border-radius: 20px;
    margin-top: 5rem;
    height: 398px;
}
.content_search_location h6{
    color: var(--color_FFFDE6);
    font-size: 48px;
    font-weight: 500;
    margin: 0;
}
.content_search_location p{
    color: var(--color_F1F1F1);
    font-size: 16px;
    font-weight: 400;
    margin: 0.5rem 0 4rem 0;
}
.content_search_location form{
    position: relative;
    width: 45%;
    background-color: var(--color_FFC300);
    border-radius: 100px;
    padding: 0 10px;
    height: 56px;
}
.content_search_location form input{
    height: 100%;
    width: 100%;
    background-color: transparent;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    padding-left: 20px ;
}
.content_search_location form input::placeholder{
    color: var(--color_504F4F);
    font-family: "poppins-regular", serif;
    font-weight: 400;
    font-size: 16px;
}

.content_search_location form input:focus{
   outline: none;
}
.content_search_location form button{
    background-color: var(--color_fff);
    border-radius: 100px;
    padding: 12px 24px;
    border: 0;
    position: absolute;
    right: 13px;
    top: 15%;
}
.section_search_location img{
    max-width: 187px;
    object-fit: cover;
    position: absolute;
}
.section_search_location img:last-child{
    bottom: 0;
    left: 10%;
}
.section_search_location img:nth-child(4){
    top: 18%;
    left: 0;
}