@media (max-width: 1034px) {

    .content_search_location h6 {
        font-size: 35px;
    }
}

@media (max-width: 1228px) {
    .section_mobile_app {
        max-width: 98%;
    }

    .img_section_mobile_app img {
        transform: scale(1.1);
        top: -5px;
    }

    .content_section_mobile_app h4 {
        font-size: 44px;
    }
}

@media (max-width: 1115px) {
    .img_section_mobile_app img {
        transform: scale(1);
        top: 15px;
    }

    .content_section_mobile_app h4 {
        font-size: 37px;
    }
}

@media (max-width: 1068px) {

    .img_section_mobile_app img {
        transform: scale(0.9);
        top: 32px;
    }

    .content_section_mobile_app h4 {
        font-size: 35px;
    }
}

@media (max-width: 1016px) {
    .content_section_mobile_app {
        padding: 4rem 2rem 1rem;
    }

    .content_section_mobile_app h6 {
        margin: 1rem;
    }

    .content_section_mobile_app h4 {
        font-size: 30px;
    }

    .img_section_mobile_app img {
        transform: scale(0.9);
    }

    .download_btn_app a {
        margin-top: 10px;
    }
}

@media (max-width: 1016px) {

    .content_section_mobile_app {
        padding: 2rem 5rem 1rem;
    }

    .content_section_mobile_app h4 {
        font-size: 25px;
    }

    .content_section_mobile_app p {
        font-size: 14px;
    }

    .download_btn_app img {
        width: 135px;
    }
}

@media (max-width: 836px) {

    .header_wrapper {
        display: grid;
        grid-template-columns: repeat(3, auto);
        align-items: center;
        position: relative;
        padding-left: 10px;
        padding-right: 10px;
    }

    .menu {
        display: none;
    }

    .header_login {
        position: absolute;
        left: 50%;
        top: 50%;
        transform-origin: center;
        transform: translate(-50%, -50%);
        display: flex;
        gap: 12px;
        z-index: 10;
    }

    .header_login .header_link {
        display: inline-block;
        padding: 6px 8px;
    }

    .toggle_burger_menu {
        display: block;
        cursor: pointer;
    }

    #toggle_menu:checked + label .toggle_burger_menu {
        display: none;
    }

    #toggle_menu:checked + label .toggle_close_menu {
        display: block;
    }

    #toggle_menu:checked ~ .nav_menu_sidebar {
        left: 0;
    }

    /*======================|end topbar*/
    .header_content_left {
        margin-top: 7rem;
    }

    .header_title {
        margin-top: 3rem;
    }

    .header_text {
        font-size: 40px;
    }

    .header_caption {
        font-size: 20px;
    }

    .header_total_price {
        margin-top: 3rem;
    }

    .time_img {
        top: -97px;
        left: -125px;
    }

    .order_btn {
        gap: 5px;
        font-size: 16px;
        width: 153px;
        height: 54px;
        padding: 0 17px;
    }

    /*==========================| section_mobile_app*/
    .section_mobile_app {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }

    .img_section_mobile_app img {
        padding-left: 5rem;
        transform: scale(1.1);
        position: relative;
        top: 1px;
        margin-top: 3rem;
    }

    .download_btn_app a img {
        width: 156px;
        margin-top: 30px;
    }

    .content_section_mobile_app h6 {
        margin: 1rem 0;
    }

    .content_section_mobile_app h4 {
        font-size: 30px;
    }

    .content_section_mobile_app p {
        font-size: 16px;
    }

}

@media (max-width: 808px) {
    .content_search_location h6 {
        font-size: 28px;
    }
    .content_search_location form {
        width: 62%;
    }
}

@media (max-width: 738px) {

    .header_text {
        font-size: 33px;
    }

    .header_caption {
        font-size: 15px;
    }

    .time_img {
        top: -59px;
        left: -70px;
        max-width: 110px;
    }

    .number::after, .number::before {
        margin: 0 2px;
    }

    .row_grid_food_products {
        grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    }

    .img_item_food_grid > div {
        margin-top: -105px;
        margin-left: 32px;
        max-width: 270px;
    }
}

@media (max-width: 694px) {

    .content_search_location h6 {
        font-size: 20px;
    }

    .content_search_location p {
        font-size: 12px;
    }
}

@media (max-width: 672px) {
    .order_btn {
        gap: 5px;
        font-size: 14px;
        width: 139px;
        height: 50px;
        padding: 0 14px;
    }

    .count {
        max-width: 115px;
        max-height: 46px;
        padding: 5px 10px;
    }

    .increase {
        font-size: 25px;
    }

    .decrease {
        font-size: 35px;
    }

    .number {
        font-size: 18px;
    }

}

@media (max-width: 624px) {

    .section_mobile_app {
        overflow: hidden;
    }

    .content_section_mobile_app {
        padding: 2rem 1rem 1rem;
    }

    .content_section_mobile_app h4 {
        font-size: 24px;
    }

    .img_section_mobile_app img {
        transform: scale(1);
        top: 15px;
        margin-top: 3rem;
        left: -48px;
    }

}

@media (max-width: 592px) {

    .number {
        font-size: 14px;
    }

    .order_btn {
        gap: 5px;
        font-size: 14px;
        width: 126px;
        height: 50px;
        padding: 0 10px;
    }
}

@media (max-width: 589px) {
    .header_title {
        margin-top: 6rem;
    }

    .header_text {
        font-size: 27px;
    }

    .header_caption {
        font-size: 14px;
    }

    .order_btn {
        width: 134px;
        height: 51px;
        padding: 0 12px;
    }

    .time_img {
        top: -73px;
        width: 100px;
    }

    .header_content_left {
        margin: 0;
    }

}

@media (max-width: 562px) {
    .content_search_location h6 {
        font-size: 20px;
    }
    .content_search_location p {
        font-size: 13px;
    }
}

@media (max-width: 551px) {
    .section_search_location img:nth-child(4) {
        top: 5%;
        left: 0;
    }
    .content_search_location h6 {
        font-size: 25px;
    }
    .content_search_location p {
        font-size: 16px;
    }
    .content_search_location form {
        width: 70%;
    }
}

@media (max-width: 493px) {
    .header_content_wrapper {
        display: flex;
        flex-direction: column;
    }

    .header_content_left {
        margin-top: -1rem;
        max-width: unset;

    }

    .header_title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        max-width: unset;
    }

    .header_caption {
        font-size: 15px;
    }

    .header_total {
        display: none;
    }


    .header_total_mobile {
        display: block;
        margin-top: 7rem;
        max-width: 296px;
    }

    .order_mobile {
        display: flex;
        align-items: center;
        margin-top: 1rem;
    }

    .count {
        margin-right: 35px;
        width: 119px;
        height: 119px;
    }

    .increase {
        font-size: 30px;
    }

    .number {
        font-size: 18px;
    }

    .decrease {
        font-size: 35px;
    }

    .order_btn {
        gap: 8px;
        font-size: 16px;
        width: 161px;
        padding: 0 0 0 15px;
    }


    .header_time {
        display: none;
    }

    .t-img {
        display: block;
        transform: translate(-5rem, 3rem);
        width: 138px;
    }

    .img_item_food_grid > div {
        max-width: 229px;
    }

    /*=============================| section_mobile_app*/
    .section_mobile_app {
        border-radius: unset;
        border-top-right-radius: 500px;
        border-top-left-radius: 500px;
        max-width: 100%;
        align-items: center;
    }

    .content_section_mobile_app {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding: 2rem 2rem 1rem;
    }

    .content_section_mobile_app h6 {
        font-size: 16px;
    }

    .content_section_mobile_app h4 {
        font-size: 20px;
    }

    .content_section_mobile_app p {
        font-size: 14px;
    }

    .download_btn_app {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .download_btn_app a {
        width: auto;
    }

    .download_btn_app a:last-child {
        margin-left: 2rem;
    }

    .download_btn_app a img {
        width: 135px;
    }
}

@media (max-width: 493px){
    .content_search_location h6 {
        font-size: 18px;
    }
    .content_search_location p {
        font-size: 13px;
    }
    .content_search_location form {
        width: 86%;
    }
    .content_search_location form input::placeholder {
        font-size: 14px;
    }
}